@tailwind base;
@tailwind components;
@tailwind utilities;



@import url(https://fonts.googleapis.com/css?family=Noto+Serif+Display:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:regular,italic,700,700italic,900,900italic);

body{
    font-family: 'Noto Serif Display', serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 2.5rem;
    line-height: 1.2;
    color: #333;
    margin-bottom: 1.5rem;
}
.logo {
  stroke-linejoin: round;
  stroke-linecap: round;
}


.menu {
  clip-path: polygon(100% 0, 70% 100%, 30% 100%, 0 0);
}

.item {
  width: 56%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}